<%- include('../includes/head.ejs') %>
<%- include('../includes/navigation.ejs') %>
<script src="http://code.jquery.com/jquery-3.1.0.min.js"></script>
    	</head>
    	<body>
		
<%- include('../includes/gridTop.ejs') %>
		<div>
			<h1>Welcome to the PicsMain Add-Pics</h1>	

			<p id="token" hidden><%= token %></p>		
	
			<form id="eventForm" class="col-xs-8 col-sm-6 col-md-5">
				<label for="image" class="form-label">Add an image:</label>
				<input class="form-control" type="file" id="image" name="image" onchange="loadVerifPic(true)"/>
				<p></p>
			<input type="submit" class="btn btn-primary" name="submit" value="Submit" />
			</form>
        	</div>

<%- include('../includes/gridBottom.ejs') %>
		
		<script type="text/javascript">
						
			let key = ''	
			let token = document.getElementById('token').textContent
		
			var verifPic = false
			let loadVerifPic = function(dt) {
				console.log(dt)
				verifPic = dt
			}


			var form = document.getElementById('eventForm');
			form.addEventListener('submit', (event) => {
				event.preventDefault();
				if(!verifPic) { 
					console.log('grrrrrrrrrrr')
					alert('A picture must be include')
					return 
				}

				const data = {
					token,
					section: 'picsmain',
					picture: event.target[0].files[0].name
				}
				
				fetch('http://localhost:3050/admin/upload', {
					method: 'POST',
					mode: 'no-cors',
					body: JSON.stringify(data),
					headers: {
				'Content-Type': "application/x-www-form-urlencoded; charset=UTF-8"
					// 'Content-Type': 'application/json'
					}
				})
				.then(d => {				
// in order to access the data from a ReadableStream you need to call one of the conversion
					return d.json()
				})
				.then(d => {
				key = d.key
				fetch(d.url, {
					method: 'PUT',
					body: event.target[0].files[0],
					headers: {
					'Content-Type': "image/jpeg"
					}	
				})	
				})
				.then(d => {
					// picture url will be 
				const picUrl = `https://node-advance-course.s3-ap-southeast-1.amazonaws.com/${key}`
				console.log('after target s3: ', picUrl)
				const dataForDb = {
					picUrl,
					token
				}
					
				return fetch('http://localhost:3050/admin/add-picsmain', {
					method: 'POST',
					mode: 'no-cors',
					body: JSON.stringify(dataForDb),
					headers: {
				'Content-Type': "application/x-www-form-urlencoded; charset=UTF-8"
					// 'Content-Type': 'application/json'
					}

				})
				})
				.then(d => {
					if(d) {
		window.location.replace("http://localhost:3050/admin/picsmain")
					}
				})
				.catch(e => console.log(e))

			})

      	  	</script >
	</body>
</html>










