<%- include('../includes/head.ejs') %>
<%- include('../includes/navigation.ejs') %>
<script src="http://code.jquery.com/jquery-3.1.0.min.js"></script>
    	</head>
    	<body>
<%- include('../includes/gridTop.ejs') %>
		<div>
			<h1>Welcome to the Picsstyle Add-Pics</h1>	


		<% if (editing) { %> 		

		<form action="/admin/modify-picsstyle/<%=picture._id%>" method="POST" class="col-xs-8 col-sm-6 col-md-5">
 			<div class="form-group">
                                    	<label for="style">Style:</label>
                                    	<select name="style" id="style" class="form-control" />
		<option <%= picture.style === 'Sedan' ? 'selected' : '' %>>Sedan</option>
		<option <%= picture.style === 'SUV' ? 'selected' : '' %>>SUV</option>
		<option <%= picture.style === 'Standard-cab' ? 'selected' : '' %>>Standard-cab</option>
		<option <%= picture.style === 'Smart-cab' ? 'selected' : '' %>>Smart-cab</option>
		<option <%= picture.style === 'Double-cab' ? 'selected' : '' %>>Double-cab</option>
					</select>
                       	</div>
			<!--<input type="hidden" value="" name="carId" />-->
                      
	  		<button class="btn btn-primary " type="submit">submit</button>
            	</form>

		<% } else { %>

			<p id="token" hidden><%=token%></p>		
			 			

			<div class="form-group">
                                    	<label for="style">Style:</label>
                                    	<select name="style" id="style" class="form-control" onchange="loadStyle(event)" />
						<option 'selected'>Sedan</option>
						<option>SUV</option>
						<option>Standard-cab</option>
						<option>Smart-cab</option>
						<option>Double-cab</option>
					</select>
                       	</div>

			<form id="eventForm" class="col-xs-8 col-sm-6 col-md-5">
		
				<label for="image" class="form-label">Add an image:</label>
				<input class="form-control" type="file" id="image" name="image" onchange="loadVerifPic(true)"/>
				<p></p>
				<input type="submit" class="btn btn-primary" name="submit" value="Submit" />
			</form>
		<% } %>
        	</div>

<%- include('../includes/gridBottom.ejs') %>
		<%if(!editing) {%>	
		<script type="text/javascript">

			// get token and datas from form
			let key = ''
			let style = 'Sedan'	
			const token = document.getElementById('token').textContent

			var loadStyle = function(event) {
				style = event.target.value
			}

			var verifPic = false
			let loadVerifPic = function(dt) {
				console.log(dt)
				verifPic = dt
			}
		
			var form = document.getElementById('eventForm');
			form.addEventListener('submit', (event) => {
				event.preventDefault();
				if(!verifPic) { 
					alert('A picture must be include')
					return 
				}

				const data = {
					token,
					section: 'picsstyle',
					picture: event.target[0].files[0].name
				}
			
				fetch('https://tpr2u.com/admin/upload', {
					method: 'POST',
					mode: 'no-cors',
					body: JSON.stringify(data),
					headers: {
				'Content-Type': "application/x-www-form-urlencoded; charset=UTF-8"
					}
				})
				.then(d => {				
// in order to access the data from a ReadableStream you need to call one of the conversion
					return d.json()
				})
				.then(d => {
					key = d.key
					fetch(d.url, {
						method: 'PUT',
						body: event.target[0].files[0],
						headers: {
						'Content-Type': "image/jpeg"
						}	
					})	
				})
				.then(d => {
					// picture url will be 
				const picUrl = `https://tprcar-bucket.s3.amazonaws.com/${key}`
				
				// dataForDb should be pass as arg, and here we add the picUrl
				const dataForDb = {
					style,
					picUrl,
					token
				}
					
				return fetch('https://tpr2u.com/admin/add-picsstyle', {
					method: 'POST',
					mode: 'no-cors',
					body: JSON.stringify(dataForDb),
					headers: {
				'Content-Type': "application/x-www-form-urlencoded; charset=UTF-8"
					}

				})
				})
				.then(d => {
					if (d) {
						setTimeout(() => {
		window.location.replace("https://tpr2u.com/admin/picsstyle")
						}, 500)
					}	
				})
				.catch(e => console.log(e))

			})

      		</script >
		<% } %>
	</body>
</html>


