<%- include('../includes/head.ejs') %>
<%- include('../includes/navigation.ejs') %>
<script src="http://code.jquery.com/jquery-3.1.0.min.js"></script>
    	</head>
    	<body>
<%- include('../includes/gridTop.ejs') %>
		<div>
			<h1>Welcome to the Picsstyle Add-Pics</h1>	


		<% if (editing) { %> 		

		<form action="/admin/modify-picsstyle/<%=picture._id%>" method="POST" class="col-xs-8 col-sm-6 col-md-5">
 			<div class="form-group">
                                    	<label for="style">Style:</label>
                                    	<select name="style" id="style" class="form-control" />
		<option <%= picture.style === 'Pick-up' ? 'selected' : '' %>>Pick-up</option>
		<option <%= picture.style === 'Single' ? 'selected' : '' %>>Single</option>
		<option <%= picture.style === 'Smart' ? 'selected' : '' %>>Smart</option>
		<option <%= picture.style === 'Double' ? 'selected' : '' %>>Double</option>
		<option <%= picture.style === 'Standart' ? 'selected' : '' %>>Standart</option>
					</select>
                       	</div>
			<!--<input type="hidden" value="" name="carId" />-->
                      
	  		<button class="btn btn-primary " type="submit">Update picture style</button>
            	</form>

		<% } else { %>

			<p id="token" hidden><%=token%></p>		
			 			

			<div class="form-group">
                                    	<label for="style">Style:</label>
                                    	<select name="style" id="style" class="form-control" onchange="loadStyle(event)" />
						<option 'selected'>Pick-up</option>
						<option>Single</option>
						<option>Smart</option>
						<option>Double</option>
						<option>Standart</option>
					</select>
                       	</div>

			<form id="eventForm" class="col-xs-8 col-sm-6 col-md-5">
		
				<label for="image" class="form-label">Add an image:</label>
				<input class="form-control" type="file" id="image" name="image" />
				<p></p>
			<input type="submit" class="btn btn-primary" name="submit" value="Submit" />
			</form>
		<% } %>
        	</div>

<%- include('../includes/gridBottom.ejs') %>
		
		<script type="text/javascript">

			// const tt = require('../../utility/apiFetch')
			// get token and datas from form
			let key = ''
			let style = 'Pick-up'	
			const token = document.getElementById('token').textContent

			var loadStyle = function(event) {
				style = event.target.value
			}

		
			var form = document.getElementById('eventForm');
			form.addEventListener('submit', (event) => {
				event.preventDefault();
				const data = {
					token,
					section: 'picsstyle',
					picture: event.target[0].files[0].name
				}
			
				// debut func
				// url second fetch
				// args: urlRedirect + one obj with data to save in db(the function will add to it the picUrl )
				// + pass the data(obj), or the func should be able to access it directly ??
			
				fetch('http://localhost:3050/admin/upload', {
					method: 'POST',
					mode: 'no-cors',
					body: JSON.stringify(data),
					headers: {
				'Content-Type': "application/x-www-form-urlencoded; charset=UTF-8"
					// 'Content-Type': 'application/json'
					}
				})
				.then(d => {				
// in order to access the data from a ReadableStream you need to call one of the conversion
					return d.json()
				})
				.then(d => {
					key = d.key
					fetch(d.url, {
						method: 'PUT',
						body: event.target[0].files[0],
						headers: {
						'Content-Type': "image/jpeg"
						}	
					})	
				})
				.then(d => {
					// picture url will be 
				const picUrl = `https://node-advance-course.s3-ap-southeast-1.amazonaws.com/${key}`
				console.log('after target s3: ', picUrl)
				
				// dataForDb should be pass as arg, and here we add the picUrl
				const dataForDb = {
					style,
					picUrl,
					token
				}
					
				return fetch('http://localhost:3050/admin/add-picsstyle', {
					method: 'POST',
					mode: 'no-cors',
					body: JSON.stringify(dataForDb),
					headers: {
				'Content-Type': "application/x-www-form-urlencoded; charset=UTF-8"
					// 'Content-Type': 'application/json'
					}

				})
				})
				.then(d => {
					if (d) {
		window.location.replace("http://localhost:3050/admin/picsstyle")
					}	
				})
				.catch(e => console.log(e))

			})

      		</script >
	</body>
</html>


