<%- include('../includes/head.ejs') %>
<%- include('../includes/navigation.ejs') %>
    	</head>
    	<body>
<%- include('../includes/gridTop.ejs') %>
		<div>
			<h1>Welcome to the CARS page</h1>
			<% if(editing && !errorMessage) { %>
			<form action="/admin/edit-car/<%=car._id%>"  method="POST" class="col-xs-8 col-sm-6 col-md-5">
			<% } %>
                             	<div class="form-group">
                                    	<label for="serie">Serie:</label>
					<input type="text" name="serie" id="serie" class="form-control" onchange="loadSerie(event)" value="<% if (editing) { %><%=car.serie%><% } %>" />
				</div>
                                <div class="form-group">
                                  	<label for="serieDetails">Serie details:</label>
                                       	<input type="text" name="serieDetails" id="serieDetails" class="form-control" onchange="loadSerieDetails(event)" value="<% if (editing) { %><%=car.serieDetails%><% } %>" />
                                </div>
                                <div class="form-group">
                                       	<label for="wheel">Wheel:</label>
					<input type="number" name="wheel" id="wheel" class="form-control" onchange="loadWheel(event)" value="<% if (editing) { %><%=car.wheel%><% } %>" /> 
                               	</div>
				<div class="form-group">
                                       	<label for="engine">Engine:</label>
					<input type="text" name="engine" id="engine" class="form-control" onchange="loadEngine(event)" value="<% if (editing) { %><%=car.engine%><% } %>" /> 
				</div>
 				<div class="form-group">
                                       	<label for="grade">Grade:</label>
					<input type="text" name="grade" id="grade" class="form-control" onchange="loadGrade(event)" value="<% if (editing) { %><%=car.grade%><% } %>" /> 
				</div>
 				<div class="form-group">
                                       	<label for="price">Price:</label>
					<input type="text" name="price" id="price" class="form-control" onchange="loadPrice(event)" value="<% if (editing) { %><%=car.price%><% } %>" /> 
				</div>
			<div class="form-group">
                                       	<label for="color">Color:</label>
					<input type="text" name="color" id="color" class="form-control" onchange="loadColor(event)" value="<% if (editing) { %><%=car.color%><% } %>" />
			</div>
 			<div class="form-group">
                                       	<label for="details">Details:</label>
                                       	<textarea name="details" id="details" class="form-control" row="5" onchange="loadDetails(event)"><% if (editing) { %><%=car.details%><% } %> </textarea>
                        </div>

		<% if (editing) { %>
 			<div class="form-group">
                                    	<label for="style">Style:</label>
                                    	<select name="style" id="style" class="form-control" />
		<option <%= car.style === 'Sedan' ? 'selected' : '' %>>Sedan</option>
		<option <%= car.style === 'SUV' ? 'selected' : '' %>>SUV</option>
		<option <%= car.style === 'Standard-cab' ? 'selected' : '' %>>Standard-cab</option>
		<option <%= car.style === 'Smart-cab' ? 'selected' : '' %>>Smart-cab</option>
		<option <%= car.style === 'Double-cab' ? 'selected' : '' %>>Double-cab</option>
					</select>
                       	</div>
			<div class="form-group">
                                    	<label for="type">Type:</label>
                                    	<select name="type" id="type" class="form-control" />
		<option <%= car.type === 'รุนรถ' ? 'selected' : '' %>>รุนรถ</option>
		<option <%= car.type === 'รถยนฅ์นั่งส่วนบุคคล' ? 'selected' : '' %>>รถยนฅ์นั่งส่วนบุคคล</option>
		<option <%= car.type === 'รถยนฅ์เพื่อการพาณิซย์' ? 'selected' : '' %>>รถยนฅ์เพื่อการพาณิซย์</option>
		<option <%= car.type === 'รถยนฅ์อเนกประสงค์' ? 'selected' : '' %>>รถยนฅ์อเนกประสงค์</option>
					</select>
                         </div>
		<div>
			<p>Add it on the first page:</p>
			<label class="radio-inline">
			<input type="radio" name="bestSeller" value='false' <%=car.bestSeller === 'false' ? 'checked' : ''%>>False</label>
			<label class="radio-inline">
			<input type="radio" name="bestSeller" value='true' <%=car.bestSeller === 'true' ? 'checked' : ''%>>True</label>
		</div>

			<input type="hidden" value="<%=car._id%>" name="carId" />
                        <button class="btn btn-primary " type="submit">Update Car</button>
			<p></p>
		<% } else { %>
			
			<p id="token" hidden><%=token%></p>		

			<div class="form-group">
                        <label for="style">Style:</label>
                        <select name="style" id="style" class="form-control" onchange="loadStyle(event)" />
		<option selected>Sedan</option>
		<option>SUV</option>
		<option>Standard-cab</option>
		<option>Smart-cab</option>
		<option>Double-cab</option>
					</select>
                       	</div>
			<div class="form-group">
                        <label for="type">Type:</label>
                        <select name="type" id="type" class="form-control" onchange="loadType(event)" />
		<option selected>รุนรถ</option>
		<option>รถยนฅ์นั่งส่วนบุคคล</option>
		<option>รถยนฅ์เพื่อการพาณิซย์</option>
		<option>รถยนฅ์อเนกประสงค์</option>
					</select>
                         </div>
		<div>
			<p>Add it on the first page:</p>
			<label class="radio-inline">
			<input type="radio" name="bestSeller" value='false' checked>False</label>
			<label class="radio-inline">
			<input type="radio" name="bestSeller" value='true' onchange="loadBestSeller(event)">True</label>
		</div>
		<form id="eventForm" class="col-xs-8 col-sm-6 col-md-5" />
                       	<label for="image" class="form-label">Picture:</label>
			<input class="form-control" type="file" id="image" onchange="loadVerifPic(true)" name="image" />
			<p></p>
		
			<input type="submit" class="btn btn-primary" name="submit" value="Submit" />
			<p></p>
		<% } %>
		</form>
	</div>

              <!--</form>
         </div>-->
<%- include('../includes/gridBottom.ejs') %>
	
	
	<% if(!editing) { %>
		<script type="text/javascript">

			let key = ''
			let serie = ''
			let loadSerie = function() {serie = event.target.value}
			var serieDetails = ''
			let loadSerieDetails = function() {serieDetails = event.target.value}
			var wheel = ''
			let loadWheel = function(event) {wheel = event.target.value}
			var engine = ''
			let loadEngine = function(event) {engine = event.target.value}
			var grade = ''
			let loadGrade = function(event) {grade = event.target.value} 
			var price = ''
			let loadPrice = function(event) {price = event.target.value}
			var color = ''
			let loadColor = function(event) {color = event.target.value}
			var details = ''
			let loadDetails = function(event) {details = event.target.value}
			let style = "Pick-up"
			let loadStyle = function(event) {style = event.target.value}
			let type = "รุนรถ"
			let loadType = function(event) {type = event.target.value}
			let bestSeller = false
			let loadBestSeller = function(event) {bestSeller = event.target.value}
			var verifPic = false
			let loadVerifPic = function(dt) {
				// console.log(dt)
				verifPic = dt
			}

			const token = document.getElementById('token').textContent
		
			var form = document.getElementById('eventForm');
			form.addEventListener('submit', (event) => {
				event.preventDefault();
				if(!verifPic) { 
					alert('A picture must be include')
					return 
				}
				const data = {
					token,
					section: 'car',
					picture: event.target[0].files[0].name
				}

				fetch('http://localhost:3050/admin/upload', {
					method: 'POST',
					mode: 'no-cors',
					body: JSON.stringify(data),
					headers: {
				'Content-Type': "application/x-www-form-urlencoded; charset=UTF-8"
					}
				})
				.then(d => {				
// in order to access the data from a ReadableStream you need to call one of the conversion
					return d.json()
				})
				.then(d => {
					key = d.key
					fetch(d.url, {
						method: 'PUT',
						body: event.target[0].files[0],
						headers: {
						'Content-Type': "image/jpeg"
						}	
					})	
				})
				.then(d => {
					// picture url will be 
				const picUrl = `https://tprcar-bucket.s3.amazonaws.com/${key}`
				// dataForDb should be pass as arg, and here we add the picUrl
				const dataForDb = {
					serie,
					serieDetails,
					wheel,
					engine,
					grade,
					price,
					color,
					details,
					style,
					type,
					bestSeller,
					picUrl,
					token
				}
				return fetch('http://localhost:3050/admin/add-car', {
					method: 'POST',
					mode: 'no-cors',
					body: JSON.stringify(dataForDb),
					headers: {
				'Content-Type': "application/x-www-form-urlencoded; charset=UTF-8"
					}

				})
				})
				.then(d => {
					if (d) {
						setTimeout(() => {
			window.location.replace("http://localhost:3050/admin/cars")
						}, 500)
					}	
				})
				.catch(e => console.log(e))

			})

      		</script >
		<% } else { %>
		
		<script type="text/javascript">
			let serie = ''
			let loadSerie = function() {serie = event.target.value}
			var serieDetails = ''
			let loadSerieDetails = function() {serieDetails = event.target.value}
			var wheel = ''
			let loadWheel = function(event) {wheel = event.target.value}
			var engine = ''
			let loadEngine = function(event) {engine = event.target.value}
			var grade = ''
			let loadGrade = function(event) {grade = event.target.value} 
			var price = ''
			let loadPrice = function(event) {price = event.target.value}
			var color = ''
			let loadColor = function(event) {color = event.target.value}
			var details = ''
			let loadDetails = function(event) {details = event.target.value}
		</script>
		<% } %>
</body>
</html>
